/* フォント
下記の順で指定します。
Helvetica Neue, Arial, Hiragino Sans, Meiryo, sans-serif

コンテンツ幅
全幅表示です。

画像
高さは700px固定で、画面サイズにあわせて画像が拡大縮小します。

テキスト
テキストエリアの横の余白は5%で設定します。
材料と作り方のリストは、点線で区切ります。

一覧ボタンとフッター
一覧ボタンとフッターはトップページの仕様と同じです。

レスポンシブ
ブレークポイントは834pxです。 */

html{
  font-size:100%
}
body{
  font-family:"Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;
  width:100%;
  color:#000000;
  background-color: #ffffff;
}
img{
  max-width:100%;
}
ul{
  list-style: none;
}
a{
  color:#000000;
}

/* メイン */


/* レスポンシブ */
@media screen and (max-width:834px){
  
}